<form method="post">
    <h3>Email</h3>
    <input name="email" type="text">

    <h3>Felhasználónév</h3>
    <input name="text" type="password">

    <h3>Admin vagy?</h3>
    <label>
        <input name="isAdmin" type="radio" value="1"> Igen 
    </label>

    <label>
        <input name="isAdmin" type="radio" value="0"> Nem 
    </label>

    <button>Bejelentkezés</button>
</form>